<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineBanking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>Welcome.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegistrationSer</display-name>
    <servlet-name>RegistrationSer</servlet-name>
    <servlet-class>Servlets.RegistrationSer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistrationSer</servlet-name>
    <url-pattern>/RegistrationSer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServ</display-name>
    <servlet-name>LoginServ</servlet-name>
    <servlet-class>Servlets.LoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServ</servlet-name>
    <url-pattern>/LoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPasswordServ</display-name>
    <servlet-name>ForgetPasswordServ</servlet-name>
    <servlet-class>Servlets.ForgetPasswordServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPasswordServ</servlet-name>
    <url-pattern>/ForgetPasswordServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordChange</display-name>
    <servlet-name>PasswordChange</servlet-name>
    <servlet-class>Servlets.PasswordChange</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordChange</servlet-name>
    <url-pattern>/PasswordChange</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServ</display-name>
    <servlet-name>ChangePasswordServ</servlet-name>
    <servlet-class>Servlets.ChangePasswordServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServ</servlet-name>
    <url-pattern>/ChangePasswordServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransferLoginServ</display-name>
    <servlet-name>FundTransferLoginServ</servlet-name>
    <servlet-class>Servlets.FundTransferLoginServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransferLoginServ</servlet-name>
    <url-pattern>/FundTransferLoginServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransfer</display-name>
    <servlet-name>FundTransfer</servlet-name>
    <servlet-class>Servlets.FundTransfer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransfer</servlet-name>
    <url-pattern>/FundTransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FundTransferServ</display-name>
    <servlet-name>FundTransferServ</servlet-name>
    <servlet-class>Servlets.FundTransferServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FundTransferServ</servlet-name>
    <url-pattern>/FundTransferServ</url-pattern>
  </servlet-mapping>
</web-app>